/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

/* Base CSS */

body {
  background-color: #e8f0f7;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Normal CSS */


.house-table {
  font-size: 1em;
  border-collapse: collapse;
}

.house-table th,
.house-table td {
  border: 1px solid rgb(68, 120, 155);
  padding: 1px 5px 1px 5px;
}

.house-table .house-table__blank-row {
  font-size: 20px;
  border: 0px;
}

.house-table .house-table__cover {
  position: relative;
  padding: 0 0 0 0;
  margin: 0px;
  border-spacing: 0px;
}

.house-table .house-table__postion {
  position: absolute;
  font-size: 2em;
  padding: 4px;
  color: white;
  background-color: rgb(50, 50, 50);
  text-align: center;
  opacity: 0.50;
}

.house-table .house-table__price {
  width: 10%;
}

.house-table .house-table__address {
  width: 45%;
}

.house-table .house-table__description {
  width: 45%;
}

.house-table .house-table__detail {
  font-size: 90%;
}

.not-available {
  background-color: grey;
}

/* Houses position list */

.house-pos-list-table {
  font-size: 0.75em;
  border-collapse: collapse;
}

.house-pos-list-table th,
.house-pos-list-table td {
  border: 1px solid rgb(68, 120, 155);
  padding: 1px 3px 1px 3px;
  vertical-align: top;
}

.house-pos-list-table .house-pos-list-table__cover {
  position: relative;
  padding: 0 0 0 0;
  margin: 0px;
  border-spacing: 0px;
  width: 40%;
}

.house-pos-list-table .house-pos-list-table__postion {
  position: absolute;
  font-size: 2em;
  padding: 4px;
  color: white;
  background-color: rgb(50, 50, 50);
  text-align: center;
  opacity: 0.50;
}

.house-pos-list-table .house-pos-list-table__price {
  width: 10%;
}

.house-pos-list-table .house-pos-list-table__address {
  width: 35%;
}

.house-pos-list-table .house-pos-list-table__external-info {}

.house-pos-list-table .house-pos-list-table__external-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 100%;
}


/* Signle house */

.single-house__image {
  border: 0px;
}

h1 {
  font-size: 1.3em;
  line-height: 1.2;
}

h2 {
  font-size: 1.1em;
  line-height: 1.2;
}

.single-house .single-house__external-links {
  display: flex;
  gap: 60px;
  width: 100%;
  opacity: 100%;
}

iframe {
  width: 100%;
  /* or width: 100vw; for full viewport width */
  height: auto;
  aspect-ratio: 16 / 9;
  /* Example: 16:9 aspect ratio */
  padding: 0px 40px 0px 0px;
}